mat-card {
    margin: 2em;
}

.projectheader {
    max-width: 80%;
    // border: solid red 1px;
    display: flex;
    align-items: baseline;
    h2 {
        margin-right: 1em;
    }
    .techStack {
        // border: solid blue 1px;
        display: flex;

        p {
            margin-right: 1em;
        }
    }
}

.projectImg {
    max-width: 100%;
}