<div class="projectList">
    <mat-card *ngFor="let project of testProjects">
        <mat-card-content>
            <div class="projectBody">
                <div class="bodySection images">
                    <img class="projectImg" *ngFor="let image of project.images" src={{image}} alt="">
                </div>
                <div class="bodySection">
                    <div class="projectheader">
                        <h2>{{project.name}} |</h2>
                        <p class="techStack" *ngFor="let tech of project.stack">{{tech}}</p>
                    </div>
                    <p>{{project.description}}</p>
                    <a mat-raised-button color="accent" href={{project.url}} target="_blank">View project</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>