<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button routerLink="/about-me" mat-raised-button color="primary">About Me</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button routerLink="/experience" mat-raised-button color="primary">Experience</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button routerLink="/portfolio" mat-raised-button color="primary">Portfolio</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button routerLink="/contact" mat-raised-button color="primary">Contact Me</button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
    

</mat-drawer-container>
  